body {
    background-color: #fbe8a6;
    color: #303c6c;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.welcome {
    background-color: rgb(200, 200, 227);
}

/* icon bar */
.icon-bar{
    background-color: #D2FDFF;
    width: 100%;
    overflow: auto;
    bottom: 0;
    position: fixed;
}

.icon-bar a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #303C6C;
    font-size: 36px;
}
.icon-bar a:hover{
    background-color: #FFF5EE;
}
.active{
    background-color: #87CEFA;
}