body {
    background-color: #ecdfc8;
    color: #303c6c;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.welcome {
    background-color: #C41E3D;
    color: #F8F4E3;
}

/* icon bar */
.icon-bar{
    background-color:#C41E3D; 
    width: 100%;
    overflow: auto;
    bottom: 0;
    position: fixed;
}

.icon-bar a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #F8F4E3;
    font-size: 36px;
}

p.textIcon{
    font-size: 17px;
    font-weight: bold;
}
.icon-bar a:hover{
    background-color: #3C0919;
}
.active{
    background-color: #3C0919;
}