#progress{
    background-color: #F4976C;
}
h1{
    text-align: center;
}

#userPic{
    /* position: absolute; */
    width: 90px;
    height: 90px;
}

#edit, #save{
    margin-bottom: 25px;
    width: 30%;
}

#achievementp{
    width: 4em;
    height: 4em;
}

.modal-dialog {
    position: absolute;
    top: 30%;
    right: 45px;
    bottom: 0;
    left: 10%;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }

.modal-body{
    text-align: center;
}