#progress{
    background-color: #F4976C;
}
h1{
    text-align: center;
}

#userPic{
    /* position: absolute; */
    width: 90px;
    height: 90px;
}

#edit, #save{
    margin-bottom: 25px;
    width: 30%;
}