#activities {
    margin-top: 100px;
    font-size: 1.5em;
}

#stats {
    margin-top: 20px;
    font-size: 1.5em;
}

#specific {
    margin-top: 80px;
    font-size: 1.5em;
}

#specific2 {
    margin-top: 50px;
    font-size: 1.5em;
}

#trackercenter {
    margin-top: 20px;
    font-size: 1.5em;
}
#home {
    margin-top: 20px;
    font-size: 1.5em;
}


#notepad {
    height: 40vh;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.welcome {
    background-color: rgb(200, 200, 227);
}

.form-check {
    font-size: 1.5em;
}

.form-group {
    font-size: 1.5em;
}

#view {
    font-size: 1.5em;
}