#activities {
    position: absolute;
    top: 70vh;
    font-size: 1.5em;
}

#stats {
    position: absolute;
    top: 80vh;
    font-size: 1.5em;
}


#notepad {
    width: 24vw;

    position: absolute;

    left: 38vw;
}