body{
    text-align: center;
}

.workoutPanel {
    margin: 5%;
}

.btn {
    font-size: medium;
    color: #111111;
}

.workoutPanel .card-body{
    font-size: large;
    display: inline-block;
}

input {
    text-align: center;
    font-size: xx-large;
    width: 100%;
}

#demoButton {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: larger;
    width: 50%;
}

#setDoneButton {
    color: white;
    background-color: green;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
    width: 100%;
}

.page-link {
    color: #111111;
}